<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Description:</b>
  <%= @idea.description %>
</p>

<!-- Changed from outputting @idea.picture, which was just a string, to outputting an image tag pointing to the URL for the uploaded picture (stored in @idea.picture), but ONLY IF a picture has been uploaded for this idea. -->
<p>
  <b>Picture:</b>
  <!-- <%= @idea.picture %> -->
  <%= image_tag(@idea.picture_url) if @idea.picture.present? %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
